{%- set ns = namespace(found=false) -%}

{%- macro render_option(option) -%}
    {%- set current_password_info = users_get_chage_info_result.results[user_index].stdout_lines -%}
    {%- set current_value = current_password_info
                            | select("search", users_chage_options_map[option])
                            | list
                            | first
                            | regex_replace(".*: (.*)", "\\1")
                            | lower
                            | regex_replace("never", "-1") -%}
    {%- set value = users_user[option] | default(-2) | string | lower -%}
    {%- set default_value = users_defaults[option] | default(-2) | string | lower -%}

    {%- if option in ["password_last_day", "password_expire_date", "password_inactive"] -%}
        {%- set current_value = current_value | users_convert_chage_date_to_yyyymmdd -%}
    {%- endif -%}

    {%- if (value != "-2" and value != current_value)
           or (default_value != "-2" and value != default_value) -%}
        {%- set ns.found = true -%}
  {#- #}- "{{ value != "-2" }} {{ value != current_value }} {{ default_value != "-2" }} {{ value != default_value }}"{{ "\n" }}
  {#- #}- "--VALUE = {{ value }} ; current_value = {{ current_value }}"{{ "\n" }}
  {#- #}- "--DEFAULT_VALUE = {{ default_value }}"{{ "\n" }}
  {#- #}- "--{{ option | regex_replace('password_', '') | regex_replace('_', '') }}={% if value != '-2' %}{{ value }}{% else %}{{ default_value }}{% endif %}"{{ "\n" }}
    {%- endif -%}
{%- endmacro -%}

{% for option in users_chage_options %}
  {{- render_option(option) -}}
{% endfor %}

{% if not ns.found %}
[]
{% endif %}
