{% set user = users_user %}

{%- set shadow = users_get_shadows_result.shadows[user.name]
                 | default(none) -%}

{%- set password = user.password
                   | default(users_defaults.password)
                   | default(none) -%}

{%- if password is not none -%}
  {%- if user.password_encrypted
         | default(users_defaults.password_encrypted)
         | default(false) -%}
"{{- password -}}"
  {%- else -%}
      {%- if shadow is not none -%}
"{{- password | users_crypt(shadow) -}}"
      {%- else -%}
"{{- password | password_hash(users_password_hash_algorithm,
                              users_password_hash_seed) -}}"
      {%- endif -%}
  {%- endif -%}
{%- endif -%}
